
*{
	/* A universal page reset */
	margin:0;
	padding:0;
}

body{
	color:#eee;
	background:url('/images/bg.jpg') repeat-x #0c0d10;
	font:13px "Lucida Sans Unicode",Arial,Helvetica,sans-serif;
}

#main{
	margin:150px auto 0;
	position:relative;
	/*background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	height:340px;
	margin:150px auto 0;
	position:relative;
	width:640px;

	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;*/
}

/* The following styles are only used for the styling of the demo page */

#main img {
  margin-left: auto;
    margin-right: auto;
}


a, a:visited {
	text-decoration:none;
	outline:none;
	border-bottom:1px dotted #97cae6;
	color:#97cae6;
}

a:hover{
	border-bottom:1px dashed transparent;
}

.clear{
	clear:both;
}


/* Styling the big button */

a.button,
a.button:visited,
a.button:active{
	;border-radius:6px;
	color:white;
	letter-spacing:-2px;
	padding:20px;
	display:block;
	text-shadow:1px 1px 0 #145982;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:80px;
	font-weight:bold;
	text-align:center;
	width:500px;
	border:1px solid #60b4e5;

	margin:60px auto;

	/*
		CSS3 gradients for webkit and mozilla browsers,
		fallback color for the rest:
	*/

	background-color: #59aada;
	background-image: -moz-linear-gradient(#5eb2e2, #4f9cca);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5eb2e2), to(#4f9cca));
}

a.button:hover{
	text-decoration:none;
	background-color: #5eb2e2;
	background-image: -moz-linear-gradient(#6bbbe9, #57a5d4);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6bbbe9), to(#57a5d4));
}

